@charset "UTF-8";

@media (min-width: 992px){
    .btn_action {
        margin: 20px 0 20px 10px;
    }
}

#ttl {
    padding: 0 0 12px 0;
}
#btn-setting {
    margin: 0 0 0 12px;
}
#search-bar{
    margin: 0 0 0 234px;
    padding: 8px 0 0 0;
}
.search-elem{
    padding: 10px 0 4px 0;
}
#chkInactive, #chkElected, #subcategory{
    padding: 0 0 0 20px;
}
#btnElection{
    margin: 0 0 0 60px;
}

.dataTables_info{
    visibility: hidden;
}
